<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sude.moneygain2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MoneyGain2">
        <activity android:name=".User.Urunler.GideSekerlemeUrunleri.LaysYogurtMevsimYesillikleriPatatesCipsi"
            android:theme="@style/Theme.MoneyGain2.PopMe">
        </activity>
        <activity
            android:name=".User.Urunler.IcecekUrunleri.Nescafe2si1Arada"
            android:theme="@style/Theme.MoneyGain2.PopMe"></activity>
        <activity
            android:name=".User.Urunler.IcecekUrunleri.DogusIhlamur20li"
            android:theme="@style/Theme.MoneyGain2.PopMe" />
        <activity
            android:name=".User.Urunler.IcecekUrunleri.FrukoGazoz"
            android:theme="@style/Theme.MoneyGain2.PopMe" />
        <activity
            android:name=".User.Urunler.IcecekUrunleri.Nescafe3u1AradaSade"
            android:theme="@style/Theme.MoneyGain2.PopMe" />
        <activity
            android:name=".User.Urunler.IcecekUrunleri.CappyMeyveSuyuVisne1lt"
            android:theme="@style/Theme.MoneyGain2.PopMe" />
        <activity
            android:name=".User.Urunler.IcecekUrunleri.PoweradeSporcuIcecegi500Ml"
            android:theme="@style/Theme.MoneyGain2.PopMe" />
        <activity
            android:name=".User.Urunler.IcecekUrunleri.CaykurRizeTuristCay500g"
            android:theme="@style/Theme.MoneyGain2.PopMe" />
        <activity
            android:name=".User.Urunler.SutKahvaltiUrunleri.MarmaraBirlikKuruSeleZeytin400g"
            android:theme="@style/Theme.MoneyGain2.PopMe" />
        <activity
            android:name=".User.Urunler.SutKahvaltiUrunleri.TorkuBanada400g"
            android:theme="@style/Theme.MoneyGain2.PopMe" />
        <activity
            android:name=".User.Urunler.SutKahvaltiUrunleri.AnavarzaCicekBali850g"
            android:theme="@style/Theme.MoneyGain2.PopMe" />
        <activity
            android:name=".User.Urunler.SutKahvaltiUrunleri.PinarProteinLaktozsuzKakaoluSut500ml"
            android:theme="@style/Theme.MoneyGain2.PopMe" />
        <activity
            android:name=".User.Urunler.SutKahvaltiUrunleri.GoldKremfistikSekerIlavesizYerFistigiEzmesi340g"
            android:theme="@style/Theme.MoneyGain2.PopMe" />
        <activity
            android:name=".User.Urunler.SutKahvaltiUrunleri.NestleNesquikKakaoluMisirGevregi310gr"
            android:theme="@style/Theme.MoneyGain2.PopMe" />
        <activity
            android:name=".User.Urunler.SutKahvaltiUrunleri.EtiLifalifYulafEzmesi500g"
            android:theme="@style/Theme.MoneyGain2.PopMe" />
        <activity
            android:name=".User.Urunler.SutKahvaltiUrunleri.DanoneSutKakaolu180Ml"
            android:theme="@style/Theme.MoneyGain2.PopMe" />
        <activity android:name=".User.DetayliEkran" />
        <activity
            android:name=".User.Urunler.IcecekUrunleri.CocaCola2_5L"
            android:theme="@style/Theme.MoneyGain2.PopMe" />
        <activity android:name=".User.Kategoriler.BebekOyuncak" />
        <activity android:name=".User.Kategoriler.Deterjan" />
        <activity android:name=".User.Kategoriler.Icecek" />
        <activity android:name=".User.Kategoriler.GidaSekerleme" />
        <activity android:name=".User.Kategoriler.SutKahvalti" />
        <activity android:name=".User.Kategoriler.EtTavukBalik" />
        <activity android:name=".User.ButunKategoriler" />
        <activity android:name=".User.BizKimiz"
            android:theme="@style/Theme.MoneyGain2.PopMe"/>
        <activity android:name=".User.Dashboard" />
        <activity android:name=".User.GirisBasarili" />
        <activity android:name=".User.Profil" />
        <activity android:name=".User.SignUp" />
        <activity android:name=".User.Login" />
        <activity android:name=".User.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>